{% include 'sitio/cabecera.html' %}
    <title>Mapa Del sitio</title>
    <body>
        <nav>
            <a href="/">Inicio</a> &gt;
            <span>Mapa.</span>
        </nav>
        <div class="container">
            <h2 class="text-center text-danger">Mapa del sitio</h2>
            <div class="map-container text-center">
                <img src="/static/mapa.png" class="img-fluid" alt="Mapa del sitio">
            </div>
        </div>
    </body>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% include 'sitio/pie.html' %}
    

